@media screen and (max-width: 1005px){
    .navbar{
        position: relative;
    }
    .menu{
        flex: 100%;
        font-size: 55%;
        padding: 10px;
        align-items: center;
    }

    .menu a:hover{
        border-top: none;
    }

    #entrar{
        font-size: 100%;
        text-align: center;
        background-color: #c74f35;
        padding: 10px 20px 5px 20px;
        /* margin-bottom: 80%; */
        border-radius: 10%;
        margin-right: 2%;
        margin-left: 5%;
    }

    .logo h1{
        flex: 100%;
        margin: 2%;
        text-align: center;
    }

    .logo{
        margin: 0;
        text-align: center;
    }

    .chamativo{
        padding-top: 50px;
    }
    .bloco1{
        flex: 100%;
        margin: 0;
        text-align: center;
    }

    .bloco1 h3{
        flex: 100%;
        text-align: center;
        font-size: small;
    }

    .marca{
        flex: 100%;
        text-align: center;
        margin: 15%;
        font-size: 60px;
    }

    .frase{
        flex: 80%;
        font-size: 8px;
        margin: 20%;
        text-align: center;
    }

    .fale-conosco{
        margin-top: 7%;
    }

    .bloco2{
        display: none;
        flex: 50%;
        margin: 5%;
        text-align: center;
        height: 20px;
        width: 10px;
    }
    

    .bloco1 p{
        text-align: center;
    }

    .card{
        width: 29%;
        display: inline-block;
        margin: 1% 1% 1% 2%;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

}