@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Monoton&family=Sriracha&display=swap');

*{
    font-family: arial;
    box-sizing: border-box;
}

body{
    margin: 0px;
}


.navbar{
   background-color: #26332C;
   display: flex;
   flex-flow: wrap row;
   height: 100px;
   justify-content: center;
   align-items: center;
   position: fixed;
   width: 100%;
   margin-bottom: 2%;
}

.logo{
    color: #f7f7f7;
    flex: 20%;
   /* border: solid 1px red; */
    text-align: center;
    margin-left: 10%;
}

.logo h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-size: xx-large;
}

.menu{
    /* margin: 0% 2% 0% 2% ; */
    flex: 70%;
    /*  border: 1px black solid; */
    text-align: right;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    color: #f7f7f7;
    padding: 20px;
}

.menu a:hover{
    color: #6b0700;
    border-top: 4px solid #6b0700;
}

#entrar{
    background-color: #c74f35;
    padding: 10px 25px;
    border-radius: 8%;
    margin-right: 10px;
    margin-left: 2px;
}

#entrar:hover{
    border: none;
    color: #f7f7f7;
    background-color: #26332C;
}

.chamativo{
    /* border: black solid 1px; */
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    /* border: #6b0700 solid 1px; */
    margin: 0% 2% 0% 2%;
    background-color:  #f7f7f7;
    /* justify-content: center;
    align-items: center; */
}

.bloco1{
    flex: 40%;

    /* align-items: center; */
    /* border: solid 1px black; */
}

.bloco1 h2{
    padding: 0;
    margin: 0;
    text-align: center;
}

.marca{
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-size: 100px;
    /* border: solid 1px black; */
}


.bloco1 p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-family: 'Sriracha', cursive;
    padding-top: 0% ;
    margin: 0% 2% 1% 2%;
}

.fale-conosco{
    color: #f7f7f7;
    background-color: #c74f35;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 2%;
    padding: 15px;
}

.bloco1 a:hover{
    border: none;
    color: #f7f7f7;
    background-color: #26332C
}


.bloco2{
    flex: 40%;
    /* border: solid 1px black; */
    text-align: center;
    /* height: auto; */
}

.tam{
    /* border: solid black; */
    height: 400px;
    width: 780px;
}

.produtos{
    background-color: #26332C;
    color: #f7f7f7;
    border: solid #26332C 5px;
    /* margin-top: 1%; */
    padding: 0%;
    margin: 0% 2% 0% 2% ;
}

#fixo{
    /* border: solid white; */
    background-color: #26332C;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-family: 'Sriracha', cursive;
    font-size: xx-large;
}


.card{
    color: black;
    font-size: 80%;
    background-color: #4f5f44;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 1% 1% 1% 2%;
    width: 30%;
    padding: 5%;
    border-radius: 10%;
    cursor: pointer;
    border: 1px solid #f7f7f7;
}

.card:hover{
    background-color: #f7f7f7;
    padding: 6%;
}

.rodape{
    color: #4f5f44;
    background-color: #f7f7f7;
    border: solid #f7f7f7 1px;
    /* margin-top: 2%; */
    height: 100%;
    width: 100%;
    margin: 0% 2% 0% 2%;
}

.rodape h1{
    margin-left: 2%;
    margin-right: 2%;
    /* border: black solid 1px; */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-family: 'Sriracha', cursive;
    font-size: xx-large;
}

.rodape h2{
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
    /* border: black solid 1px; */
}

/* .rodape > h2 {
    cursor: pointer;
} */

.rodape > p {
    display: none;
    font-size: small;
}

.rodape > h2:hover + p {
    display: block;
    color: #6b0700;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Monoton', sans-serif;
    font-family: 'Sriracha', cursive;
}

.termos {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: small;
    /* border:black solid 1px; */
}


/* pagina 2 */

.body2{
    background-color: #26332C;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1{
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    box-shadow: 5px 5px 1px rgb(0, 0, 0.212) ;
}

.caixa2{
    border: black solid 1px;
    /* background-color: #4f5f44; */
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.logo2{
    border: solid red 1px;
    color: #f7f7f7;
    justify-content: center;
    align-items: center;
}

.imagem{
    width: 100%;
    height: 100%;
}

.caixa3{
    border: black solid 1px;
    background-color: #4f5f44;
    /* display: flex; */
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.texto3{
    font-size: 25px;
    color: #f7f7f7;
}

.forms{
    /* text-align: center; */
    /* margin-left: 2%; */
    color: #f7f7f7;
    font-size: 15px;
    text-align: left;
    margin: 0 10% 0 10%;
    padding: 2%;
    border: black solid 1px;
    margin-top: 50px;
    box-shadow: 5px 5px 1px rgb(0, 0, 0.212) ;
}

.button{
    margin-top: 60px;
    background-color: #26332C;
    color: #f7f7f7;
    border-radius: 15%;
    font-size: 100%;
    padding: 0 2% 0 2%;
}

@media screen and (max-width: 1005px) {
    .caixa1{
       display: inline-table;
       height: 100%;
       margin-top: 20%;
       margin-bottom: 20%;
       box-shadow: none;
    }

    .imagem{
        width: 100%;
        margin-top: 20%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .caixa2{
        display: inline-table;
        width: 100%;
        margin-top: 10%;
    }

    .caixa3{
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
    }

    .forms{
        display: flex;
        margin-top: 10%;
        padding: 2%;
        flex-direction: column;
        
    }

    .button{
        margin-bottom: 10%;
    }

}